{% extends "layout.html" %}
{% block content %}

{% include '_messages.html' %}
<!--Navbar starts-->
<div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                              <a class="nav-link" href="/">All Products</a>
                        </li>

                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Brands
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for displayBrand in displayBrands%}
                                    <a class="dropdown-item"
                                          href="{{url_for('get_brand', id=displayBrand[0])}}">{{displayBrand[1]}}</a>
                                    {% endfor %}
                              </div>
                        </li>

                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for displayCategory in displayCategories%}
                                    <a class="dropdown-item"
                                          href="{{url_for('get_category', id=displayCategory[0])}}">{{displayCategory[1]}}</a>
                                    {% endfor %}
                              </div>
                        </li>

                        <li class="nav-item">
                              <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0" method="POST" id="sch">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search product name"
                              aria-label="Search" size="30" name="searchInput" id="search-bar" value="{{q}}"
                              autofocus="" onfocus="this.setSelectionRange(this.value.length,this.value.length);">
                  </form>
            </div>
      </nav>
</div>
<!--Navbar ends-->

<!--Content starts-->
<div class="container">
      <div class="row">
            {% if searchNotFound %}
            <img src="{{url_for('static', filename='images/no-results.png')}}" alt="Search not found"
                  style="display:block; margin-left: auto; margin-right: auto; margin-top: 10%;" width="50%">

            {% elif displayProductsByBrand %}
            {% for displayProductByBrand in displayProductsByBrand %}
            <div class="col-md-4 mt-3 mb-2">
                  <div class="card" style="height: 400px;">
                        <img src="{{url_for('static', filename='images/' + displayProductByBrand[10])}}"
                              alt="{{displayProductByBrand[1]}}" class="card-img-top" height="200">
                        <div class="card-body">
                              {% if displayProductByBrand[3] > 0 %}
                              <h5 style="text-shadow: 1px 1px 2px #000; color: white; transform: rotate(-15deg); position: absolute; top: 1%;
                              left: -7%;"><span style="background-color: red;">Discount {{displayProductByBrand[3]}}%</span></h5>
                              {% endif %}
                              <h5 class="text-center">{{displayProductByBrand[1]}}</h5>
                              <p class="text-center">Rp {{displayProductByBrand[2]}}</p>
                        </div>
                        <div class="card-footer">
                              <a href="{{url_for('single_page', id=displayProductByBrand[0])}}" class="float-left btn btn-sm btn-primary">details</a>
                              <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                        </div>
                  </div>
            </div>
            {% endfor %}
      </div>

      <div class="row">
            <div class="col text-center">
                  {% if prev_page >= 1 and total_page > 7%}
                  <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=1)}}">First</a>
                  <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=prev_page)}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                  </a>
                  {% endif %}

                  {% if total_page > 1 %}
                  {% if max_threshold > total_page %}
                   {% for page in range(min_threshold, total_page+1) %}
                    {% if page == current_page %}
                     <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=page)}}">{{page}}</a>
                    {% else %}
                     <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=page)}}">{{page}}</a>
                    {% endif %}
                   {% endfor %}
                  {% else %}
                   {% for page in range(min_threshold, max_threshold+1) %}
                    {% if page == current_page %}
                     <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=page)}}">{{page}}</a>
                    {% else %}
                     <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=page)}}">{{page}}</a>
                    {% endif %}
                   {% endfor %}
                  {% endif %}
                  {% endif %}

                  {% if next_page <= total_page and total_page > 7%} 
                  <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=next_page)}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next {{next_page}}</span>
                  </a>
                  <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_brand', id=id, page=total_page)}}">Last</a>
                  {% endif %}
            </div>
      </div>
      
      <div class="row">
            {% elif displayProductsByCategory %}
            {% for displayProductByCategory in displayProductsByCategory %}
            <div class="col-md-4 mt-3 mb-2">
                  <div class="card" style="height: 400px;">
                        <img src="{{url_for('static', filename='images/' + displayProductByCategory[10])}}"
                              alt="{{displayProductByCategory[1]}}" class="card-img-top" height="200">
                        <div class="card-body">
                              {% if displayProductByCategory[3] > 0 %}
                              <h5 style="text-shadow: 1px 1px 2px #000; color: white; transform: rotate(-15deg); position: absolute; top: 1%;
                              left: -7%;"><span style="background-color: red;">Discount {{displayProductByCategory[3]}}%</span></h5>
                              {% endif %}
                              <h5 class="text-center">{{displayProductByCategory[1]}}</h5>
                              <p class="text-center">Rp {{displayProductByCategory[2]}}</p>
                        </div>
                        <div class="card-footer">
                              <a href="{{url_for('single_page', id=displayProductByCategory[0])}}" class="float-left btn btn-sm btn-primary">details</a>
                              <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                        </div>
                  </div>
            </div>
            {% endfor %}
      </div>

      <div class="row">
            <div class="col text-center">
                  {% if prev_page >= 1 and total_page > 7%}
                  <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=1)}}">First</a>
                  <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=prev_page)}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                  </a>
                  {% endif %}

                  {% if total_page > 1 %}
                  {% if max_threshold > total_page %}
                   {% for page in range(min_threshold, total_page+1) %}
                    {% if page == current_page %}
                     <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=page)}}">{{page}}</a>
                    {% else %}
                     <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=page)}}">{{page}}</a>
                    {% endif %}
                   {% endfor %}
                  {% else %}
                   {% for page in range(min_threshold, max_threshold+1) %}
                    {% if page == current_page %}
                     <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=page)}}">{{page}}</a>
                    {% else %}
                     <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=page)}}">{{page}}</a>
                    {% endif %}
                   {% endfor %}
                  {% endif %}
                  {% endif %}

                  {% if next_page <= total_page and total_page > 7%} 
                  <a class="btn btn-outline-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=next_page)}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next {{next_page}}</span>
                  </a>
                  <a class="btn btn-info btn-sm mt-3" href="{{url_for('get_category', id=id, page=total_page)}}">Last</a>
                  {% endif %}
            </div>
      </div>

      <div class="row">
            {% elif searchFound%}
            {% for displayProduct in displayProducts %}
            <div class="col-md-4 mt-3 mb-2">
                  <div class="card" style="height: 400px;">
                        <img src="{{url_for('static', filename='images/' + displayProduct[10])}}"
                              alt="{{displayProduct[1]}}" class="card-img-top" height="200">
                        <div class="card-body">
                              {% if displayProduct[3] > 0 %}
                              <h5 style="text-shadow: 1px 1px 2px #000; color: white; transform: rotate(-15deg); position: absolute; top: 1%;
                              left: -7%;"><span style="background-color: red;">Discount {{displayProduct[3]}}%</span></h5>
                              {% endif %}
                              <h5 class="text-center">{{displayProduct[1]}}</h5>
                              <p class="text-center">Rp {{displayProduct[2]}}</p>
                        </div>
                        <div class="card-footer">
                              <a href="{{url_for('single_page', id=displayProduct[0])}}" class="float-left btn btn-sm btn-primary">details</a>
                              <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                        </div>
                  </div>
            </div>
            {% endfor %}
      </div>

      <div class="row">
            {% else %}
            {% for displayProduct in displayProducts %}
            <div class="col-md-4 mt-3 mb-2">
                  <div class="card" style="height: 400px;">
                        <img src="{{url_for('static', filename='images/' + displayProduct[10])}}"
                              alt="{{displayProduct[1]}}" class="card-img-top" height="200">
                        <div class="card-body">
                              {% if displayProduct[3] > 0 %}
                              <h5 style="text-shadow: 1px 1px 2px #000; color: white; transform: rotate(-15deg); position: absolute; top: 1%;
                              left: -7%;"><span style="background-color: red;">Discount {{displayProduct[3]}}%</span></h5>
                              {% endif %}
                              <h5 class="text-center">{{displayProduct[1]}}</h5>
                              <p class="text-center">Rp {{displayProduct[2]}}</p>
                        </div>
                        <div class="card-footer">
                              <a href="{{url_for('single_page', id=displayProduct[0])}}" class="float-left btn btn-sm btn-primary">details</a>
                              <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                        </div>
                  </div>
            </div>
            {% endfor %}
      </div>

      <div class="row">
            <div class="col text-center">
                  {% if prev_page >= 1 and total_page > 7%}
                  <a class="btn btn-info btn-sm mt-3" href="/page/{{1}}">First</a>
                  <a class="btn btn-outline-info btn-sm mt-3" href="/page/{{prev_page}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                  </a>
                  {% endif %}

                  {% if total_page > 1 %}
                  {% if max_threshold > total_page %}
                   {% for page in range(min_threshold, total_page+1) %}
                    {% if page == current_page %}
                     <a class="btn btn-info btn-sm mt-3" href="/page/{{page}}">{{page}}</a>
                    {% else %}
                     <a class="btn btn-outline-info btn-sm mt-3" href="/page/{{page}}">{{page}}</a>
                    {% endif %}
                   {% endfor %}
                  {% else %}
                   {% for page in range(min_threshold, max_threshold+1) %}
                    {% if page == current_page %}
                     <a class="btn btn-info btn-sm mt-3" href="/page/{{page}}">{{page}}</a>
                    {% else %}
                     <a class="btn btn-outline-info btn-sm mt-3" href="/page/{{page}}">{{page}}</a>
                    {% endif %}
                   {% endfor %}
                  {% endif %}
                  {% endif %}

                  {% if next_page <= total_page and total_page > 7%} 
                  <a class="btn btn-outline-info btn-sm mt-3" href="/page/{{next_page}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next {{next_page}}</span>
                  </a>
                  <a class="btn btn-info btn-sm mt-3" href="/page/{{total_page}}">Last</a>
                  {% endif %}
            </div>
      </div>
      {% endif %}
</div>
<!--Content ends-->
{% endblock content%}