<div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                              <a class="nav-link" href="/">All Products</a>
                        </li>

                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Brands
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for displayBrand in displayBrands%}
                                    <a class="dropdown-item"
                                          href="{{url_for('get_brand', id=displayBrand[0])}}">{{displayBrand[1]}}</a>
                                    {% endfor %}
                              </div>
                        </li>

                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for displayCategory in displayCategories%}
                                    <a class="dropdown-item"
                                          href="{{url_for('get_category', id=displayCategory[0])}}">{{displayCategory[1]}}</a>
                                    {% endfor %}
                              </div>
                        </li>

                        <li class="nav-item">
                              <a class="nav-link disabled" href="{{url_for('getCart')}}" tabindex="-1">Cart ({{session['Shoppingcart']|length}})</a>
                        </li>

                        {% if customer is none %}
                        <li></li>
                        {% elif customer is not none %}
                        <li class="nav-item">
                              <a class="nav-link" href="{{url_for('orders')}}" tabindex="-1">Order</a>
                        </li>
                        {% endif %}
                  </ul>
                  <ul class="navbar-nav navbar-right">
                  <li class="nav-item">
                  {% if not grandtotal and not product %}
                  <form class="form-inline my-2 my-lg-0" method="POST" id="sch">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search product name"
                              aria-label="Search" size="30" name="searchInput" id="search-bar" value="{{q}}"
                              autofocus="" onfocus="this.setSelectionRange(this.value.length,this.value.length);">
                  </form>
                  {% endif %}
                  </li>
                  <li class="nav-item dropdown">
                        {% if customer is none %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Not logged in</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <!--								<li><a class="dropdown-item" href="#" >Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>-->
                              <li><a class="dropdown-item" href="{{url_for('customerLogin')}}">Login</a></li>
                              <li><a class="dropdown-item" href="{{url_for('customer_register')}}">Register</a></li>
                        </ul>
                        {% elif customer is not none %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Logged in as {{customer}}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <!--								<li><a class="dropdown-item" href="#" >Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>-->
                              <li><a class="dropdown-item" href="{{url_for('customerLogout')}}">Logout</a></li>
                        </ul>
                        {% endif %}
                  </li>
                  </ul>
            </div>
      </nav>
</div>